@import "tailwindcss";

body{
    font: "poopins", sans-serif;
}

h1 , h2 {
    font: "Roboto" , sans-serif;
}

@layer utilities{
    .gradient{
        background: linear-gradient(-45deg, #382B63, #00bf8f, #1cd8d2)
    }
}